body,
html {
  height: 100%;
  margin: 0;
}

body {
  font-family: $font-general-area;
}

em,
.italic {
  font-style: italic;
}

strong,
b,
.bold {
  font-weight: bold;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  line-height: 1.5;
}
