// Mobile-First
$breakpoint-extra-large: 1500px; // extra large desktop and above
$breakpoint-large: 1170px; // large desktop and above
$breakpoint-medium: 970px; // narrow desktop and above
$breakpoint-small: 750px; // tablet and above
$breakpoint-extra-small: 400px; // phone and above

//Fonts
$font-body: Georgia, 'Times New Roman', Times, serif;
$font-heading: Georgia, 'Times New Roman', Times, serif;

//Sizes
$footer-height: 70px;
